/* ---------- Global Styles ---------- */
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 30px;
  margin: 0;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* ---------- Buttons & Links ---------- */
a,
button {
  display: inline-block;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

/* Add button */
a {
  background: #007bff;
  padding: 10px 14px;
  color: #fff;
}

a:hover {
  background: #0056b3;
}

/* Submit button */
button {
  background: #28a745;
  color: white;
  border: none;
  padding: 12px 16px;
  width: 100%;
}

button:hover {
  background: #1f7f34;
}

/* ---------- Table Styles ---------- */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    /* max-width: 1000px;
    margin: 20px auto; */
}

th {
  background: #007bff;
  color: #fff;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

tr:hover td {
  background: #f0f8ff;
}

/* ---------- Form Styles ---------- */
form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 420px;
  margin:0 auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

label {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
  display: block;
}

input {
    width: -webkit-fill-available;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}